<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
            Add Slider
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Url</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Url</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for(let i =0; i < slider.length; i++) {%>
                        <tr class="center">
                            <td><%= i + 1%></td>
                            <td><%= slider[i].name %></td>
                            <td>
                                <img src="<%= process.env.WEB_URI %><%= slider[i].file %>" alt="<%= slider[i].file %>" width="350px">
                            </td>
                            <td><%= slider[i].url %></td>
                            <td>
                                <form action="/slider/<%= slider[i].id %>?_method=DELETE" method="POST">
                                    <a  
                                        href="javascript:void()"
                                        type="button"
                                        class="btn btn-warning btn-sm btn-circle button-update"
                                        data-id="<%= slider[i].id %>"
                                        data-name="<%= slider[i].name %>"
                                        data-url="<%= slider[i].url %>"
                                    >
                                        <i class="fas fa-fw fa-edit"></i>
                                    </a>
                                    
                                    <!-- Button trigger modal -->
                                    <button 
                                        type="submit" 
                                        href="" 
                                        class=" btn btn-danger btn-sm btn-circle"
                                        type="button"  data-toggle="modal" data-target="#exampleModal">
                                        <i class="fas fa-fw fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>