<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
            Add News
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Headline</th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Logo</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Headline</th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Logo</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for(let i =0; i < news.length; i++) {%>
                        <tr>
                            <td><%= i + 1%></td>
                            <td><%= news[i].title %></td>
                            <td>
                                <img src="https://cms-pitchup.herokuapp.com/<%- news[i].headlinePicture %>" alt="<%- news[i].headlinePicture %>" height="150px">
                            </td>
                            <td><%= news[i].companyName %></td>
                            <td><%= news[i].companyUrl %></td>
                            <td>
                                <img src="https://cms-pitchup.herokuapp.com/<%- news[i].companyLogo %>" alt="<%- news[i].companyLogo %>" height="150px">
                            </td>
                            <td><%= news[i].date.getDay() + "-" + (news[i].date.getMonth() + 1) + "-" + news[i].date.getFullYear()  %></td>
                            <td>
                            <form action="/news/<%= news[i]._id %>?_method=DELETE" method="POST">
                                <a  
                                    href="javascript:void()"
                                    type="button"
                                    class="btn btn-warning btn-sm btn-circle button-update"
                                    data-id="<%= news[i].id %>"
                                    data-title="<%= news[i].title %>"
                                    data-companyname="<%= news[i].companyName %>"
                                    data-companyurl="<%= news[i].companyUrl %>"
                                    data-companylogo="<%= news[i].compnayLogo %>"
                                    data-headlinepicture="<%= news[i].headlinePicture %>"
                                >
                                    <i class="fas fa-fw fa-edit"></i>
                                </a>

                                <!-- Button trigger modal -->
                                <button 
                                    type="submit" 
                                    href="" 
                                    class=" btn btn-danger btn-sm btn-circle"
                                    <i class="fas fa-fw fa-trash"></i>
                                </button>
                                <!-- type="button"  data-toggle="modal" data-target="#exampleModal"> -->
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure delete this item ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

